SubSane/SubsonicRegfile.nfo
/SubSane/bin/Debug/SubSane.vshost.exe.manifest
/SubSane/bin/Debug/Bass.Net.xml
/SubSane/bin/Debug/libbass.so
/SubSane/bin/Debug/SubSane.exe.config
/SubSane/bin/Debug/SubSane.vshost.exe.config
/subsane/bin/Release/subsane_alpha3.zip
/subsane/bin/Release/Bass.Net.xml
/subsane/bin/Release/libbass.so
/subsane/bin/Release/SubSane.exe.config
/subsane/bin/Release/SubSane.vshost.exe.config
